# For tips see https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Ignore any spyder files
**/.spyproject/**

# Ignore local settings files
src/settings.py
src/identification/identification_settings.py

# Ignore python cache
**/__pycache__/**

# Ignore slurm logger outputs
R-*.out
R-*.err

# Ignore downloaded spacetrack catalogues
ST_Catalog_*
